* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: "Archivo Black", sans-serif;
    margin-left: 5px;
}

hr {
    border: none;
    border-top: 1px solid #3a3a3a;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffff80;
}

.titulo {
    font-size: 40px;
    color: #fff;
}

.navegacion {
    position: fixed;
    z-index: 3;
    padding: 10px;
    width: 100%;
}

.nava {
    list-style: none;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    background: #000000e0;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;

}

.bread {
    width: 180px;
    margin: 0 10px;
    transition: color 0.5s, opacity 0.5s;
}

.bread:hover {
    color: #ff0000;
    opacity: 0.5;
}

.bread i {
    margin-left: 5px;
}

.crums {
    display: flex;
}



.buscador input {
    margin-top: -20px;

    width: 300px;
    outline: none;
    border: none;
    background: #3a3a3a;
    padding: 5px 8px;
    height: 40px;
    border-radius: 5px;
    margin-left: 300px;
    font-size: 15px;
    color: #fff;
    position: fixed;
    z-index: 3;
}



.buscador button {
    margin-left: 570px;
    position: fixed;
    z-index: 5;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    margin-top: -10px;
    cursor: pointer;
}

.resultados {
    position: fixed;
    margin-top: 40px;
    margin-left: 300px;
    z-index: 3;
    display: none;
}

.resultados ul {
    list-style: none;
    
}

.resultados ul li {
    width: 300px;
    background: rgb(255, 255, 255);
    color: #3a3a3a;
    padding: 5px;
    margin: 3px;
    border-radius: 9px;
}

.slider {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    margin-top: 63px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 33.3333%;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
    

}

.img_slider {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    vertical-align: middle;
    height: 269px;
    overflow: hidden;
    transition: .2s;
    padding: 5px;
}

.img_slider:hover {
    transform: scale(1.05);
    overflow: hidden;
    transition: .2s;

}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 100px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
    margin: 0px 20px;
    padding: 5px 6px;
    background: #00000077;
    border-radius: 10px;
}   

.prev:hover, .next:hover {
 color: #ff0000;
}

.next {
    right: 0;
}

.h2_title {
    width: 441px;

    padding-left: 25px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    position: absolute;
    color: #fff;
    align-items: flex-end;
    background: linear-gradient(to top, #000000 , #ffffff00);
    z-index: 4;
    top: 60%;

}


.cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.cartas img {
    width: 100%;
    height: 330px;
    border-radius: 5px;
    transition: .3s;
}

.cartas img:hover {
    opacity: .5;
    transform: scale(1.035);
}

@media (max-width: 768px) {
    .prev, .next {
        font-size: 24px;
        padding: 8px;

        
        }

       .slide {
            min-width: 100%;
            box-sizing: border-box;
            overflow: hidden;
            justify-content: space-between;
            
        
        }

    .img_slider {
        height: 235px;
    }

    .slider {
        margin-top: 100px;
    }

    .h2_title {
        width: 100%;
        padding-left: 25px;
        padding-left: 20px;
        padding-bottom: 60px;
        padding-top: 50px;
        position: absolute;
        color: #fff;
        align-items: flex-end;
        background: linear-gradient(to top, #000000 , #00000000);
        z-index: 4;
        top: 50%;
    }
        .titulo {
            font-size: 19px;
            color: #ffffff;
        }
        .bread {
            width: 100px;
            margin: 0 10px;
            transition: color 0.5s, opacity 0.5s;
            font-size: 12px;
        }

        .buscador input {
            margin-top: 30px;
        
            width: 300px;
            outline: none;
            border: none;
            background: #3a3a3a;
            padding: 5px 8px;
            height: 40px;
            border-radius: 5px;
            margin-left: -330px;
            font-size: 15px;
            color: #fff;
            position: fixed;
            z-index: 3;
        }

        .buscador button {
            margin-left: -60px;
            position: fixed;
            z-index: 5;
            background: transparent;
            border: none;
            color: #fff;
            font-size: 20px;
            margin-top: -10px;
            cursor: pointer;
            margin-top: 37px;

        }

        .cartas {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .cartas img {
            height: 300px;

        }

    }


